/* === TIMER BUTTONS WITH PHASE RELATED STYLES === */

.onSessionFont,
.onSessionFont:hover,
.onSessionFont:focus {
  color: #d95550;
}

.onBreakFont,
.onBreakFont:hover,
.onBreakFont:focus {
  color: #457ca3;
}

.timerButton {
  font-weight: 600;
  background-color: white;
  border-color: white;
}

.timerButton:hover,
.timerButton:focus {
  /* Having outline and box-shadow set to none on focus may hinder accessibility */
  outline: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

.timerButton:active:focus {
  outline: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
}
