/* === OVERALL APP STYLES === */

.appContainer {
  min-height: calc(100% - 56px);
  color: white;
  transition: background-color 0.5s ease;
  text-align: center;
}

.onSession {
  background-color: #d95550;
}

.onBreak {
  background-color: #457ca3;
}

/* === TIMER CONTAINER STYLES === */

.timerContainer {
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 3vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

/* === PHASE LENGTH CONTROL STYLES === */

.phaseLengthContainer {
  margin-bottom: 0;
}

.phaseLengthButton {
  margin: 0px 4px;
  padding: 6px;
  background-color: transparent;
  border: none;
}

.phaseLengthButton:hover,
.phaseLengthButton:focus {
  /* Having outline and box-shadow set to none on focus may hinder accessibility */
  outline: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.phaseLengthButton:active:focus {
  outline: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.onSession .autoSwitch:checked {
  border-color: #fff;
  background-color: #d95550;
}

.onBreak .autoSwitch:checked {
  border-color: #fff;
  background-color: #457ca3;
}

/* === TIMER AND TIMER CONTROL STYLES === */

.timerClockContainer {
  margin-bottom: 20px;
}
